<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title><%- htmlWebpackPlugin.options.title %></title>
	
	</head>
 	<body>
	    <div id="app-container">
	    	<noscript>
	    		<div>
	    			<span>
	    				JavaScript must be enabled!
    				</span>
    			</div>
		    </noscript>
	    </div>
	  
	</body>
</html>
